einops                        0.7.0
numpy                         1.21.2
pandas                        1.1.5
torch                         1.8.1+rocm4.0.1
torchvision                   0.9.1+cu111
scikit-learn                  0.24.0
scipy                         1.7.3
